/blog/node_modules
/blog/public/hot
/blog/public/storage
/blog/storage/*.key
/blog/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/blog/.idea
/blog/.vscode
/.db
/.docker/db
/.docker/redis
/template